 .favorites {
     &List {
         display: grid;
         grid-template-columns: repeat(5, minmax(0, 1fr));
         gap: 20px 10px;
     }

     &__empty {
         display: none;
     }

     &.is__empty {
         .favorites__empty {
             display: block;
         }

         .favorites__in {
             display: none;
         }
     }
 }