.search-hints {
  text-align: center;

  &__wrapper {
    display: inline-block;

    font-size: 22px;
    font-weight: 550;
    line-height: 24px;
    text-align: center;
  }


  &__hint {
    padding: 4px 6px 6px 6px;
    background: #F6F6FA;
    border-radius: 8px;

    .hint__link {
      background-image: linear-gradient(92.97deg, #DA15B8 4.93%, #8D06CC 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      text-decoration: none;
    }

    .hint__link:hover {
      color: var(--key-color);
    }
  }
}