.checkout {
  &__in {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__cart {
    flex-grow: 1;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__controls {
    max-width: 320px;
    background: var(--plate-color);
    padding: 20px 20px 30px;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    position: sticky;
    top: 18px;

    .btn {
      margin-bottom: 1em;
    }
  }

  &__price {
    font-size: 2.5em;
    margin-bottom: 0.3em;
  }

  &__empty {
    display: none;
  }

  &.is__empty {
    .checkout__empty {
      display: block;
    }

    .checkout__in {
      display: none;
    }
  }
}
