.product {
  text-decoration: none;

  &__img {
    position: relative;
    border-radius: calc(var(--border-radius) / 2);
    overflow: hidden;
    aspect-ratio: 10/13;
    margin-bottom: 10px;

    &:after {
      content: '';
      position: absolute;
      inset: 0;
      background: rgba(0,0,0,.03);
      pointer-events: none;
    }

    img {
      border-radius: inherit;
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &.is__horizontal {
    display: flex;

    .product__info {
      margin-top: 10px;
    }

    .product__img {
      width: 100%;
      max-width: 180px;
      margin-bottom: 0;
      margin-right: 10px;
      position: relative;
      .deleteBtn {
        position: relative;
        display: none;
        left: 4px;
        top: 4px;
        button {
          width: 20px;
          height: 20px;
          border: none;
          background-color: #e8e8f1;
          border-radius: 16px;
          text-align: center;
          z-index: 10;
        }
        button:hover {
          color: white;
          background-color: #cb11ab;
        }
      }
    }
    .product__img:hover {
      .deleteBtn {
        display: flex;
      }
    }
  }
}