.search-text {
    font-size: 18px;
    font-weight: 550;
    line-height: 24px;
    color: #000;
}
  
.tips {
    font-size: 18px;
    font-weight: 550;
    line-height: 24px;
    color: var(--key-color);
    padding: 4px 6px 8px 6px;
    background-color: #F6F6FA;
    cursor: pointer;
}