.homepage {
  &__notifies {
    &:not(:empty) {
      margin-bottom: 3em;
    }
  }

  &__popular {
    margin-top: 30px;
  }

  &__suggestions{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 550;

    &:not(:empty) {
      margin-bottom: 2em;
    }
  }
}
