.homepage {
  &__notifies {
    &:not(:empty) {
      margin-bottom: 3em;
    }
  }

  &__searchHints {
    display: flex;
    align-items: center;
    padding: 22px 0px 48px 64px;
    font-weight: 550;
    font-size: 22px;
    line-height: 24px;
  }

  &__popular {
    margin-top: 30px;
  }
}