@import 'modules/**/*.scss';

body {
  --text-light-color: #9797af;
  --key-color: #cb11ab;
  --key-color-dark: #a2097b;
  --plate-color: #f6f6fa;
  --border-radius: 20px;

  font-family:
    system,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Segoe WP',
    Roboto,
    Ubuntu,
    Oxygen,
    Cantarell,
    'Fira Sans',
    'Helvetica Neue',
    Helvetica,
    'Lucida Grande',
    'Droid Sans',
    Tahoma,
    'Microsoft Sans Serif',
    sans-serif;
  font-weight: 16px;
  margin: 0 auto;
  min-height: 100vh;
  padding-bottom: 48px;

  &.is__ready {
    visibility: visible !important;
  }
}

.wrap {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: inherit;

  &:hover {
    color: var(--key-color-dark);
  }
}

h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
}

h1 {
  margin-bottom: 0.45em;
}

h2 {
  margin-bottom: 0.35em;
}

img {
  display: block;
  width: 100%;
}

.logo {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.005em;
}

.content {
  min-height: 60vh;
  box-sizing: border-box;
  padding: 30px 0 72px;
}

.btnFav {
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: var(--key-color);

  svg {
    width: 32px;
    height: 32px;
    margin-top: 4px;
  }
}

.btn {
  text-decoration: none;
  padding: 0.55em 0.8em;
  border-radius: var(--border-radius);
  border: none;
  background: linear-gradient(102.42deg, #da15b8 59.69%, #8d06cc);
  color: #fff;
  font-weight: bold;

  &:hover {
    background: var(--key-color-dark);
  }

  &:disabled {
    background: var(--plate-color);
    color: #000;
  }

  &.is__large {
    font-size: 1.25em;
  }
}

.cart-link {
  position: relative;
}
.favorite-link {
  position: relative;
}
.display-none{
  display: none;
}
.counter {
  position: absolute;
  right: -21px;
  top: -10px;
  background: #ff5100;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: block;
  width: 20px;
  line-height: 20px;
  text-align: center;
  padding: 0;

  &:empty {
    display: none;
  }
}

.hide {
  display: none !important;
}

.notify {
  padding: 32px;
  background: rgba(12, 180, 119, 0.1);
  border-radius: var(--border-radius);
  font-size: 18px;

  p {
    max-width: 540px;
  }
}

.banner {
  border-radius: var(--border-radius);
  aspect-ratio: 16/10;

  img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
