.select {
  
  &__empty {
    display: none;
  }

  &.is__empty {
    .select__empty {
      display: block;
    }

    .select__in {
      display: none;
    }
  }
  
  .productList {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 20px 10px;
  }
  
}

